body{
    background-color: #80CEFF;
    font-size: 20px;
    text-align: center; 
    font-family: font-family: 'Dancing Script', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;;
}

p{

font-size: 20px;

}

 #missao{
color :black;
font-size : 22px;
 }




